// ==========================================================================

$primary-color: #f45063;
$collection-border-color: #f8f8f7 !default;
$collection-bg-color: #fff !default;
$collection-active-bg-color: #00a98f !default;
$collection-active-color: #00a98f !default;
$collection-hover-bg-color: #ddd !default;
$collection-link-color: #00a98f !default;
$collection-line-height: 1.5rem !default;

// 25. Progress Bar
// ==========================================================================
$progress-bar-color: #f45063 !default;
