@import '../../../scss/shared';

.box {
	margin: 2rem;
	text-align: center;
}

.order {
	margin-left: 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.search {
	display: flex;
	justify-content: flex-start;

	input {
		-webkit-appearance: none;
		font-size: $font-normal;
		font-family: inherit;
		color: $color-gray-dark;
		font-weight: 400;
		padding: 1rem 1.5rem;
		width: 90%;
		background-color: $color-white;

		border: 1px solid rgb(204, 204, 204);
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-right: none;

		&:focus {
			outline: none;
			border: 1px solid $color-gray;
			border-right: none;
		}
	}
}

.button {
	cursor: pointer;
	width: 6rem;

	padding: 0.9rem 1.5rem;
	text-decoration: none;
	background-color: rgb(248, 248, 248);

	border: 1px solid rgb(211, 211, 211);
	color: $color-white;

	transition: all 0.2s;

	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;

	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
		color: $color-white;
		border-radius: none;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&:focus {
		outline: none;
	}
}

.image {
	width: 2rem;
	height: auto;
	object-fit: cover;
}

@media only screen and (max-width: $screen-small) {
	.box {
		margin: 0px;
		padding: 0px;
	}

	.search {
		input {
			width: 100%;
		}

		button {
			margin: 0px;
		}
	}
	.order {
		margin-top: 1rem;
		display: flex;
		justify-content: center;
	}
}
