@import '../../../scss/shared';
.box {
	margin-top: 0.5rem;
	width: 100%;
}

.content {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.details {
	margin-top: 20px;
	font-size: $font-normal;
	border-radius: 0.5rem;
	margin-bottom: 3rem;
	cursor: pointer;
}

.title {
	font-weight: 500;
	margin-bottom: 1rem;
}

.description {
	font-size: $font-normal;
	line-height: 175%;
}

@media only screen and (max-width: $screen-medium) {
	.content {
		width: 100%;
		margin-left: 0px;
		margin-right: 6px;
	}
}
