.radio-group {
	display: inline-block;
	padding: 1rem 1.5rem;
	padding-left: 0;

	&__radio-label {
		font-size: $font-normal;
		cursor: pointer;
		position: relative;
		padding-left: 2rem;

		margin-right: 2rem;
	}

	&__radio-button {
		height: 1.6rem;
		width: 1.6rem;
		border: 0.2rem solid $color-gray;
		border-radius: 50%;
		display: inline-block;
		position: absolute;
		top: 0.1rem;
		left: 0rem;

		&::after {
			content: '';
			display: block;
			height: 0.6rem;
			width: 0.6rem;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $color-gray;
			opacity: 0;
			transition: opacity 0.3s;
		}
	}

	&__radio-input {
		display: none;
	}

	&__radio-input:checked ~ &__radio-label &__radio-button::after {
		opacity: 1;
	}
}
