@import '../../../scss/shared';
.gallery {
	max-width: 60rem;
	width: 100%;
	margin: 0 auto;
}

.gallery-mobile {
	max-width: 50%;
	width: 30rem;
	margin: 0 auto;
}

.image-container {
	background-color: $color-gray-light;
	img {
		object-fit: cover;
		width: 100%;
	}
}

.prev {
	border: 1px solid red;
}
.next {
	border: 1px solid red;
}
