@import '../../../scss/shared';

.locale {
	font-size: $font-big;

	button {
		color: $color-white;

		border: none;
		background: transparent;
		font-size: $font-normal;
		cursor: pointer;
	}
}

@media only screen and (max-width: $screen-small) {
	.locale {
		font-size: $font-normal;
	}
}
