@import '../../../scss/shared';

.modal {
	position: absolute;
	font-size: $font-large;
	top: 25%;
	left: 20%;
	width: 60%;
	height: 50%;
	background-color: $color-white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: $z-index-higher;

	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: $z-index-higher;
}

.close {
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	object-fit: cover;
	cursor: pointer;
}

@media only screen and (max-width: $screen-small) {
	.modal {
		top: 20%;
		left: 5%;
		width: 90%;
		height: 60%;
	}
}
