@import '../../../scss/shared';

.blog {
	padding: 1rem;
	width: 100%;
}

.nav-box {
	float: right;
	width: 30%;
	margin-top: 0.5rem;
	margin-bottom: 3rem;
}

.nav {
	border: 1px solid $color-gray;
	margin-left: 1rem;
}

.content {
	width: 70%;
	float: right;
}

.post-title {
	font-size: $font-large;
	cursor: pointer;
}

.category-item,
.category-item-current {
	padding: 1rem;
	cursor: pointer;
	font-weight: 300;
	font-size: $font-normal;
}

.category-item,
.category-item-current:last-child {
	margin-bottom: 0rem;
}

.category-item-current {
	font-weight: 400;
	background-color: $color-gray-light;
	color: $color-red;
}

.post-title:link,
.post-title:visited,
.post-title:hover,
.post-title:active {
	color: $color-gray;
	text-decoration: none;
	border-bottom: none;
}

.post-published {
	font-size: $font-small;
	font-style: italic;
}

@media only screen and (max-width: $screen-small) {
	.nav-box {
		float: left;
		width: 100%;
		margin-left: 0rem;
	}

	.nav {
		margin-left: 0rem;
		border: none;
	}

	.post-title {
		font-size: $font-normal;
		cursor: pointer;
	}

	.content {
		width: 100%;
		float: left;
	}
}
