@import '../../../scss/shared';

.post {
	width: 100%;
}

.header-blog {
	padding: 1rem;
	width: 100%;
	background-color: $color-gray-light;
	height: auto;
	margin-bottom: 1rem;

	text-align: right;
	text-decoration-line: underline;

	color: $color-red;
	cursor: pointer;
	font-size: $font-normal;
}

.title {
	width: 100%;
	font-size: $font-large;
	font-weight: 400;
	text-align: center;
	margin: 2rem auto;
}

.body {
	padding: 1rem 2rem;
}

.body p {
	line-height: 145%;
	font-size: $font-large;
	margin: 2rem 0;
}

.body ul {
	border: 1px solid $color-gray-light;
	padding: 0 1rem;
	margin: 2rem;
	border-radius: 0.5rem;
}

.body li {
	margin: 2rem;
	font-size: $font-large;
	line-height: 160%;
}

.body img {
	display: block;
	margin: 2rem auto;
}

.body h3 {
	text-transform: none;
	margin: 4rem 0;
	font-weight: 400;
	font-size: $font-large;
}

.body p strong:first-child {
	color: $color-red;
	font-size: $font-large;
}

.body p strong:before {
	content: '';
	display: block;
	height: 4rem;
}
